<style type="text/css">
	
</style>
<script type="text/javascript" src="plugins/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="plugins/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="plugins/jsupload/jsdata.upload.js"></script>
<div class="container-fluid">
	<form ng-submit="submited_new_post()">
		<div class="row">
			<div class="col-lg-9 col-md-9">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label>Title</label>
							<input type="text" name="title" class="form-control input-lg" ng-model="newpost.title">
						</div>
						<div class="form-group">
							<label>Content</label>
							<textarea class="form-control" name="content" ng-model="newpost.content"></textarea>
						</div>
						<div class="form-group">
							<ng-include src="'component-new-post'"></ng-include>
						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-3 col-md-3">

				<div class="panel panel-default">
					<div class="panel-body">
						
						<div class="form-group">
							<div class="radio">
								<label><input type="radio" name="post_status" ng-model="post_status" value="draft"> Draft</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="post_status" ng-model="post_status" value="publish" ng-click="set_schedule=false"> Publish</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox" name="post_status" ng-model="set_schedule" ng-value="1" value="1" ng-click="post_status='draft'"> Set Schedule publish</label>
							</div>
						</div>
						
						<div ng-if="set_schedule==true">
							<div class="form-group">
								<label>Date</label>
								<input type="date" name="" id="set_schedule_date" class="form-control">
							</div>
							<div class="form-group">
								<label>time</label>
								<input type="time" name="" id="set_schedule_time" class="form-control">
							</div>
						</div>


						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">Save</button>
						</div>
					</div>
				</div>				

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group" ng-init="get_categories()">
							<label>Categories</label>
							<div class="input-group">
								<input type="text" name="tag" class="form-control input-sm" ng-model="components.new_category">
								<span class="input-group-btn">
									<button class="btn btn-default btn-sm" type="button" ng-click="add_categories()"> <i class="glyphicon glyphicon-plus"></i> </button>
								</span>
							</div><!-- /input-group -->
							
							<div class="text-center" ng-if="components.categories.length <= 0">
								No categories found. create one!
							</div>

							<div ng-if="components.categories.length > 0">
								<div class="checkbox" ng-repeat="item in components.categories"><label><input type="checkbox" class="category" name="category[]" value="{{item.id_category}}">{{item.name}}</label></div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<label>Tag</label>
							<div class="input-group">
								<input type="text" name="tag" class="form-control input-sm" ng-model="newpost.tag">
								<span class="input-group-btn">
									<button class="btn btn-default btn-sm" type="button" ng-click="add_tag()"> <i class="glyphicon glyphicon-plus"></i> </button>
								</span>
								<span class="input-group-btn">
									<button class="btn btn-default btn-sm" type="button" ng-click="search_trend()"> <i class="glyphicon glyphicon-search"></i> </button>
								</span>
							</div><!-- /input-group -->
							<div class="taglist" style="max-height: 200px; overflow-y: auto;margin: 5px 0px;">
								<div class="checkbox" ng-repeat="item in components.tagsResult">
									<label><input type="checkbox" name="tag[]" class="tagitem" ng-click="detect_checked_tag(this)" value="{{item.query}}">{{item.query}}</label>
								</div>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1" class="select_all_tag" ng-click="select_all_tag()">Select all</label>
							</div>
							<div class="form-group">
								<button class="btn btn-default btn-sm" class="add_selected_tag" type="button" ng-click="add_selected_tag()"> Tambahkan </button>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</form>
</div>

<script type="text/ng-template" id="component-new-post">
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#tags" aria-controls="tags" role="tab" show-tab data-toggle="tab">Tags</a></li>
		<li role="presentation"><a href="#sosmed" aria-controls="sosmed" role="tab" show-tab data-toggle="tab">Social media</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tags">
				<div ng-if="components.tagSelected.length < 1"> No Tags found! </div>
				<div ng-if="components.tagSelected.length > 0">
					<div class="tag-group">
						<div class="tag-group-item" id="tag-selected-{{$index}}" ng-repeat="item in components.tagSelected">
							{{item}} 
							<input type="hidden" name="tag_selected[]" value="{{item}}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="removeTagSelected($index)">
							  	<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				</div>

			</div>
			<div role="tabpanel" class="tab-pane" id="sosmed">...</div>
		</div>

	</div>
</script>